.loading-cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #fff;
  transition: opacity 0.5s ease;
  opacity: 1;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.loading-cat-container.hide {
  opacity: 0;
  pointer-events: none;
}