/* Style cho HomePage */
.homepage {
  position: relative;
  overflow: hidden;
  
}

/* Nếu bạn muốn Banner chiếm full width, không cần giới hạn */
.homepage .welcome-section {
  text-align: center;
  padding: 100px 20px;
  background-color: #f0f0f0;
}