/* Style cho HomePage */


.homepage {
  padding: 0;
  margin: 0;
}
.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.homepage .welcome-section {
  text-align: center;
  padding: 100px 20px;
  background-color: #f0f0f0;
}