.notfound-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  z-index: 1000;
}

.notfound-lottie {
  cursor: pointer;
}

.notfound-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: bold;
  font-size: 80px;
  color: #dcbb87;
  margin-top: 40px;
  cursor: pointer;
  animation: bounce 2s infinite;
}

.notfound-title:hover {
  color: #a08355;
}

/* Bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.notfound-subtitle {
  font-family: 'Quicksand', 'Nunito', 'Baloo 2', Arial, sans-serif;
  font-size: 24px;
  color: #555555;
  margin-top: 20px;
  cursor: pointer;
}
